src/main/resources/wsdl/1.0/mathsdbservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MathsDbServiceImplService"
	targetNamespace="http://dm.xml.soap.sample.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dm.xml.soap.sample.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:tns="http://dm.xml.soap.sample.com/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified"
			targetNamespace="http://dm.xml.soap.sample.com/" version="1.0">

			<xs:element name="queryEmpConfigs" type="tns:queryEmpConfigs" />

			<xs:element name="queryEmpConfigsResponse" type="tns:queryEmpConfigsResponse" />

			<xs:element name="selectAllEmpAllData" type="tns:selectAllEmpAllData" />

			<xs:element name="selectAllEmpAllDataResponse" type="tns:selectAllEmpAllDataResponse" />

			<xs:complexType name="selectAllEmpAllData">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="tns:empAddress" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="empAddress">
				<xs:sequence>
					<xs:element minOccurs="0" name="address" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="selectAllEmpAllDataResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return"
						type="tns:empDetails" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="empDetails">
				<xs:sequence>
					<xs:element minOccurs="0" name="address" type="xs:string" />
					<xs:element minOccurs="0" name="city" type="xs:string" />
					<xs:element minOccurs="0" name="email" type="xs:string" />
					<xs:element minOccurs="0" name="firstName" type="xs:string" />
					<xs:element name="id" type="xs:int" />
					<xs:element minOccurs="0" name="lastName" type="xs:string" />
					<xs:element minOccurs="0" name="mobile" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="queryEmpConfigs">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="tns:empConfigIdentifier" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="empConfigIdentifier">
				<xs:sequence>
					<xs:element name="id" type="xs:int" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="queryEmpConfigsResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:empDetails" />
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>
	<wsdl:message name="selectAllEmpAllDataResponse">
		<wsdl:part name="parameters" element="tns:selectAllEmpAllDataResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="selectAllEmpAllData">
		<wsdl:part name="parameters" element="tns:selectAllEmpAllData">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryEmpConfigsResponse">
		<wsdl:part name="parameters" element="tns:queryEmpConfigsResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryEmpConfigs">
		<wsdl:part name="parameters" element="tns:queryEmpConfigs">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MathsDbService">
		<wsdl:operation name="selectAllEmpAllData">
			<wsdl:input name="selectAllEmpAllData" message="tns:selectAllEmpAllData">
			</wsdl:input>
			<wsdl:output name="selectAllEmpAllDataResponse" message="tns:selectAllEmpAllDataResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryEmpConfigs">
			<wsdl:input name="queryEmpConfigs" message="tns:queryEmpConfigs">
			</wsdl:input>
			<wsdl:output name="queryEmpConfigsResponse" message="tns:queryEmpConfigsResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MathsDbServiceImplServiceSoapBinding"
		type="tns:MathsDbService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="selectAllEmpAllData">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="selectAllEmpAllData">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="selectAllEmpAllDataResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryEmpConfigs">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="queryEmpConfigs">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="queryEmpConfigsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MathsDbServiceImplService">
		<wsdl:port name="MathsDbServiceImplPort" binding="tns:MathsDbServiceImplServiceSoapBinding">
			<soap:address location="http://localhost:8080/DmService/1.0" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
